<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lailatan.calc_insulina_activa">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_insulin_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_insulin_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainConfiguracionActivity"></activity>
        <activity android:name=".RatioBuscarActivity" />
        <activity
            android:name=".InsulinaActivity"
            android:parentActivityName=".InsulinaBuscarActivity" />
        <activity
            android:name=".InsulinaActivaCalcularActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InsulinaBuscarActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InsulinaActivaActivity"
            android:parentActivityName=".InsulinaActivaCalcularActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/SplashTheme"> <!-- Aquí llamamos nuestro tema -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.AlarmBroadcast" />
        <receiver
            android:name=".notifications.BootBroadcast"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lailatan.calc_insulina_activa.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider" />
        </provider>
    </application>

</manifest>