<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lailatan.calc_insulina_activa">

    <application
        android:allowBackup="true"
        android:icon="@drawable/insulina_ico"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/insulina_ico"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.lailatan.calc_insulina_activa.InsulinaActivity"
            android:parentActivityName=".InsulinaBuscarActivity"/>
        <activity
            android:name="com.lailatan.calc_insulina_activa.InsulinaActivaCalcularActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="com.lailatan.calc_insulina_activa.InsulinaBuscarActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name="com.lailatan.calc_insulina_activa.InsulinaActivaActivity"
            android:parentActivityName=".InsulinaActivaCalcularActivity"/>
        <activity
            android:name="com.lailatan.calc_insulina_activa.MainActivity"
            android:theme="@style/SplashTheme"> <!-- Aquí llamamos nuestro tema -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".notifications.AlarmBroadcast"/>
    </application>

</manifest>